[[header]]
<main>
    <section class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <span class="fs-5"><i class="bi bi-grid-fill "></i>LISTAGEM DE MESAS</span>
            </div>
            <div class="col-md-6 text-end">
                <a href="mesa/novo" class="btn btn-primary btn-sm">
                    <i class="bi bi-plus-circle"></i>INCLUIR
                </a>
            
           
                <a href="mesa/novo" class="btn btn-danger btn-sm">
                    <i class="bi bi-printer"></i>IMPRIMIR
                </a>
            
            
                <a href="#" class="btn btn-success btn-sm">
                    <i class="bi bi-box-arrow-right"></i>SAIR
                </a>
            </div>
        </div>
    </section>
    <section class="container mt-4">
        <div class="row">
         [[lista]]
         </div> 
    </section>
</main>
[[footer]]