[[header]]
<main>
<section class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <span class="fs-4">Avaliações</span>
    </div>
    <div class="col-md-6 text-end">
      <a href="[[base-url]]/mesa-adm/novo" class="btn btn-primary btn-md rounded-4">
        <i class="bi bi-plus-circle "></i> Incluir
      </a>
      |
      <a href="#" class="btn btn-danger btn-md rounded-4">
        <i class="bi bi-printer"></i> Imprimir
      </a>
      |
      <a href="#" class="btn btn-success btn-md rounded-4">
        <i class="bi bi-box-arrow-right"></i> Sair
      </a>
    </div>
  </div>
</section>



  <section class="container mt-4">
    <div class="row">
      [[lista]]
    </div>
  </section>
</main>
[[footer]]      
