[[header]]
<main>
  <section class="container mt-4">
    <div class="row">
      <div class="col-md-6">
        <span class="fs-4"><i class="bi bi-journal-text"></i> Cardápio</span>
      </div>
      <div class="col-md-6 text-end">
        <a href="[[base-url]]/cardapio-adm/criar" class="btn btn-primary btn-sm"><i class="bi bi-plus-circle"></i> Cadastrar</a>
       |
        <a href="" class="btn btn-success btn-sm"><i class="bi bi-printer"></i> Imprimir</a>
       |
        <a href="[[base-url]]/sair" class="btn btn-danger btn-sm"><i class="bi bi-box-arrow-right"></i> Sair</a>
      </div>
    </div>
  </section>
  
  <section class="container mt-4">
    <div class="row">
      [[lista]]
    </div>
  </section>
</main>
[[footer]]