[[header]]

<main>
  <section class="container mt-4">
    <div class="row">
      <div class="col-md-6">
        <span class="fs-4"><span class="text-primary"><i class="bi bi-grid-3x3-gap-fill me-2"></i></span><strong>Listagem de mesas</strong></span>
      </div>
      <div class="col-md-6 text-end">
        <a href="mesa/novo" class="btn btn-sm btn-primary btns"><b><i class="bi bi-plus-circle me-1"></i></b>Incluir</a>
        <a href="mesa/novo" class="btn btn-sm btn-danger btns"><b><i class="bi bi-printer me-1"></i></b>Imprimir</a>
        <a href="mesa/novo" class="btn btn-sm btn-success btns"><b><i class="bi bi-box-arrow-left me-1"></i></b>Sair</a>
      </div>
    </div>

  </section>
  <section class="container mt-4">
    <div class="row">
      [[avaliacao]]
    </div>
  </section>
</main>

[[footer]]
