[[header]]
<main>

<section class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <span class="fs-4"><i class="bi bi-grid-fill me-1"></i>Listagem de mesas</span>
    </div>
    <div class="col-md-6 text-end">
      <a href="[[base-url]]/cardapio-adm/criar" class="btn btn-primary btn-sm ">
        <i class="bi bi-plus-circle me-1 "></i>Incluir 

      </a>
      |
      <a href="#" class="btn btn-success btn-sm ">
        <i class="bi bi-printer me-1 "></i>Imprimir

      </a>
      |
      <a href="#" class="btn btn-danger btn-sm ">
        <i class="bi bi-box-arrow-right me-1 "></i>Sair

      </a>
    </div>
  </div>
</section>

  <section class="container mt-4">
    <div class="row">
    [[lista]]
  </div>
  </section>
</main>
[[footer]]