@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --primary: #325d88;
    --info:#29abe0;
    --warning: #F5CA29;
    --danger: #E12E2E;
}
body{
    font-family: "Poppins" !important;
    font-size: .9rem !important;
}

.text-primary{
    color: var(--primary) !important;
}

.text-info{
    color: var(--info) !important;
}

.btn-primary{
    background-color: var(--primary);
}

.btn-info{
    background-color: var(--info);
}

.btn-warning{
    background-color: var(--warning);
}

.btn-danger{
    background-color: var(--danger);
}


