RewriteEngine On

# Se o arquivo ou pasta existir, o redirecionamento é ignorado
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# redireciona todas as requisições para o index.php
RewriteRule ^(.*)$ index.php?/$1 [QSA,L]

#  ^(.*)$ -> é uma expressão regular
#  ^ -> indica o inicio da URL
#  (.*) -> qualquer sequência de caracteres
#  $ -> indica o final da URL

#  $1 -> indica a captura do padrão da expressão regular

# QSA -> Querry String Append (Anexar sequência de consulta), Se houver parâmetros na URL, eles serão mantidos
# L -> Indica que é a última rera a ser processada
