@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  font-family: 'Poppins', serif ,sans-serif !important;
  font-size: .9rem !important;
}

:root {
  --color-info: #29abe0;
  --color-primary: #325d88;
  --color-primary-hover: hwb(210 20% 47% / 0.76);
  --gray: #a0a7b1;
  --box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);

  --background: #ebecf0;
  --table-backgound: #fff;
  --primary: #101824;
  --odd-row: #f6f9ff;
  --gray-background: #edeef1;
  --gary-mid: #f1f2f6;
}

.text-primary {
  color: var(--color-primary)!important;
}
.text-info {
  color: var(--color-info\!important);
}

/* BOTÕES */

.btn-primary {
  background-color: var(--color-primary);
  border: none;
}

.btn-info {
  background-color: var(--color-info)!important;
}

.sair {
  width: 6rem;
  display: flex;
  flex-direction: column;
}

.btns {
  border-radius: 20px;
  padding: 10px 20px;
  border-radius: 24px;
  box-shadow: var(--box-shadow);
  transition: .3s ease-in-out;
}

.btn-incluir {
  color: var(--color-white);
  background-color: var(--color-primary);
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  box-shadow: var(--box-shadow);
}

.page404 {
  height: calc(100vh - 100px);
  width: 100%;
}

.erro{
  font-size: 18rem;
}

/* Notificação */
.notification {
  position: absolute;
  width: max-content;
  right: 2rem; 
  top: 3rem;
  z-index: 10;
  margin-left: auto; 
  margin-right: auto; 
  background: var(--cred-bg);
  color: var(--cred-text);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(1.875rem);
  opacity: 0;
  visibility: hidden;
  animation: fade-in 5s linear;
}

.notification__icon {
  height: 1.625rem;
  width: 1.625rem;
  margin-right: 0.25rem;
}

.notification__body {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 0.5rem;
}

.notification__progress {
  position: absolute;
  left: 0.25rem;
  bottom: 0.25rem;
  width: calc(100% - 0.5rem);
  height: 0.2rem;
  transform: scaleX(0);
  transform-origin: left;
  background: linear-gradient(
      to right, 
      var(--cred-bg),  
      var(--cred-text)
  );
  border-radius: inherit;
  animation: progress 2.5s 0.3s linear;
}

@keyframes fade-in {
  5% {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
  }
  95% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes progress {
  to {
      transform: scaleX(1);
  }
}

/* TABELA */

.tabela {
  padding: 24px;
  text-align: left;
  overflow-x: auto;
  min-height: 80px;
}

.tabela__conteudo {
  max-width: fit-content;
  border-collapse: collapse;
  background-color: var(--table-backgound);
}

.tabela__conteudo th {
  padding: 20px 16px;
  font-style: 0.875rem;
  color: var(--color-primary);
}

.tabela__conteudo thead {
  border-top: 2px solid var(--gray-background);
}
.divisor{
  border-bottom: var(--gray) 1px solid;
}

.tabela__conteudo tfoot {
  margin: 12px;
  border-top: 2px solid var(--gray-background);
}

.tabela__conteudo td {
  padding: 8px 16px;
}

.tabela__conteudo tbody tr {
  cursor: pointer;
}

.tabela__conteudo tbody tr:hover {
  background-color: #e2ecff;
}

.nome {
  display: flex;
  gap: 16px;
  align-items: center;
}

.nome__info-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.nome__info__nome {
  font-weight: 700;
  white-space: nowrap;
}

.nome__info__alias {
  white-space: nowrap;
  font-style: italic;
}

.botao__foto {
  border: none;
  background-color: transparent;
}

.nome img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.status--ativo {
  background-color: #eafef3;
  color: #2ecc71;
  padding-inline: 8px;
  border-radius: 12px;
}

.status--inativo {
  background-color: #fff6e5;
  color: #be1c16;
  padding-inline: 8px;
  border-radius: 12px;
}

.badgee {
  font-size: 0.8rem;
}
