@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  font-family: 'Poppins', serif ,sans-serif !important;
  font-size: .9rem !important;
  height: 100vh;  
}

:root {
  --color-info: #29abe0;
  --color-primary: #325d88;
  --color-primary-transparent: hsla(210, 46%, 36%, 0.623);
  --color-primary-hover: hwb(210 20% 47% / 0.76);
  --gray: #a0a7b1;
  --box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);

  --background: #ebecf0;
  --table-backgound: #fff;
  --primary: #101824;
  --odd-row: #f6f9ff;
  --gray-background: #edeef1;
  --gary-mid: #f1f2f6;
}

.text-primary {
  color: var(--color-primary)!important;
}
.text-info {
  color: var(--color-info\!important);
}

/* BOTÕES */

.btn-primary {
  background-color: var(--color-primary);
  border: none;
}

.btn-info {
  background-color: var(--color-info)!important;
}

.sair {
  width: 6rem;
  display: flex;
  flex-direction: column;
}

.btns {
  border-radius: 20px;
  padding: 10px 20px;
  border-radius: 24px;
  box-shadow: var(--box-shadow);
  transition: .3s ease-in-out;
}

.btn-incluir {
  color: var(--color-white);
  background-color: var(--color-primary);
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  box-shadow: var(--box-shadow);
}

.page404 {
  height: calc(100vh - 100px);
  width: 100%;
}

.erro{
  font-size: 18rem;
}

/* Notificação */
.botao_a {
  border: none;
  background-color: transparent;
}

/* TABELA */

.tabela {
  padding: 24px;
  text-align: left;
  overflow-x: auto;
  min-height: 80px;
}

.tabela__conteudo {
  max-width: fit-content;
  border-collapse: collapse;
  background-color: var(--table-backgound);
}

.tabela__conteudo th {
  padding: 20px 16px;
  font-style: 0.875rem;
  color: var(--color-primary);
}

.tabela__conteudo thead {
  border-top: 2px solid var(--gray-background);
}

.divisor{
  border-bottom: var(--color-primary-transparent) 0.02px solid;
} 

.tabela__conteudo tfoot {
  margin: 12px;
  border-top: 2px solid var(--gray-background);
}

.tabela__conteudo td {
  padding: 8px 16px;
}

.tabela__conteudo tbody tr {
  cursor: pointer;
}

.tabela__conteudo tbody tr:hover {
  background-color: #e2ecff;
}

.nome {
  display: flex;
  gap: 16px;
  align-items: center;
}

.nome__info-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.nome__info__nome {
  font-weight: 700;
  white-space: nowrap;
}

.nome__info__alias {
  white-space: nowrap;
  font-style: italic;
}

.botao__foto {
  border: none;
  background-color: transparent;
}

.nome img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.status--ativo {
  background-color: #eafef3;
  color: #2ecc71;
  padding-inline: 8px;
  border-radius: 12px;
}

.status--inativo {
  background-color: #fff6e5;
  color: #be1c16;
  padding-inline: 8px;
  border-radius: 12px;
}

.badgee {
  font-size: 0.8rem;
}

.card-header.header {
  background-color: var(--color-primary);
}

.icone_w {
  color: #2ecc71;
  &:hover {
    opacity: 0.8;
  }
}

.icone_t {
  color: #101824;
  &:hover {
    opacity: 0.8;
  }
}

.icone_y {
  color: #eb1109;
  &:hover {
    opacity: 0.8;
  }
}

.icone_i {
  color: #dd2a7b;
  &:hover {
    opacity: 0.8;
  }
}